{{#if isSuccess}}
  <a href='{{link}}' class='btn btn-success mx-3'>
    {{text}}
  </a>
{{else}}
{{/if}}

{{#if isDanger}}
  <a href='{{link}}' class='btn btn-danger'>
    {{text}}
  </a>
{{else}}
{{/if}}

{{#if isInfo}}

  <a href='{{link}}' class='btn btn-info text-white'>
    {{text}}
  </a>
{{else}}
{{/if}}

{{#if isWarning}}

  <a href='{{link}}' class='btn btn-warning text-white'>
    {{text}}
  </a>
{{else}}
{{/if}}

{{#if isPrimary}}

  <a href='{{link}}' class='btn btn-primary text-white'>
    {{text}}
  </a>
{{else}}
{{/if}}

{{#if isSecondary}}

  <a href='{{link}}' class='btn btn-secondary text-white'>
    {{text}}
  </a>
{{else}}
{{/if}}