{{#if isSuccess}}
  <button class='btn btn-success mb-2'>
    {{text}}
  </button>
{{else}}
{{/if}}

{{#if isDanger}}
  <button class='btn btn-danger mb-2'>
    {{text}}
  </button>
{{else}}
{{/if}}

{{#if isInfo}}

  <button class='btn btn-info text-white'>
    {{text}}
  </button>
{{else}}
{{/if}}