{{#if isSuccess}}
  <button class='btn btn-success'>
    {{text}}
  </button>
{{else}}
{{/if}}

{{#if isDanger}}
  <button class='btn btn-danger'>
    {{text}}
  </button>
{{else}}
{{/if}}

{{#if isInfo}}

  <button class='btn btn-info text-white'>
    {{text}}
  </button>
{{else}}
{{/if}}

{{#if isWarning}}

  <button class='btn btn-warning text-white'>
    {{text}}
  </button>
{{else}}
{{/if}}