{{#if href}}
  <div class='nav-item'>
    <a class='nav-link' href='{{href}}'>{{text}}</a>
  </div>
{{else}}
  <div class='nav-item'>
    <a
      class='nav-link disabled'
      href='{{href}}'
    >{{text}}</a>
  </div>
{{/if}}